body { margin: 0 }
.artboard-container { position: relative; margin: 0 auto; display: none }
.artboard-image { position: relative; z-index: 0; display: block }
.hotspot { position: absolute; z-index: 1; display: block; padding: 10px; border: 1px dotted #ccc; background-color: rgba(0, 0, 0, 0.1) }
.mobile-menu-container { position: absolute; z-index: 2; display: none }
.mobile-menu-image { position: position; z-index: 0; display: block }
.mobile-menu-container .hotspot { z-index: 3 }
